.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2em;
  padding: 24px 48px;
}

.shopHeading {
  margin-left: 1em;
  font-size: 1.8em;
}

.cartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total {
  margin-right: 1em;
}

.emptyCart {
  display: flex;
  justify-content: center;
}
