body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #d4ed91; /* Light green text */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #a8e063; /* Bright green for headers */
}

a {
  color: #a8e063;
  text-decoration: none;
}

a:hover {
  color: #81c784; /* Slightly darker green for hover */
}
